@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Notable&display=swap");

* {
  box-sizing: border-box;
}
#root,
:root,
html {
  background-color: rgb(134, 207, 249);
  height: 100vh;
}
/* Navbar Styleing */
.navbar {
  font-family: "Fredericka the Great", cursive;
  background-color: rgb(141, 228, 206);
}
.center-section {
  background-color: rgb(134, 207, 249);
  margin-bottom: 9rem;
  align-items: center;
  justify-content: center;
}
/* Home Section Styling */

.img-sec img {
  height: 3rem;
}

/* AboutMe Section Styling */
.about-section {
  margin-bottom: 9rem;
  align-items: center;
  justify-content: center;
}
.pic-box {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.pic-box figure {
  text-align: center;
}
.my-pic {
  height: 17rem;
  box-shadow: -22px 1px 2px 2px rgb(141, 228, 206);
  width: fit-content;
  border-radius: 50%;
}
.text-animation {
  text-align: center;
  height: 3rem;
  padding: 0.6rem;
}
.text-animation {
  font-family: "Notable";
  font-size: 18px;
  white-space: nowrap;
}

.center-section p {
  padding: 0.2rem;
  font-family: "Fredericka the Great", cursive;
  font-size: 1.2rem;
}
/* Project Section Styles */
.project-section {
  margin-bottom: 10rem;
}
.carousel {
  margin: 2rem;
}
.carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectPic {
  height: 12rem;
  width: 14rem;
}

/* Footer Styles */
footer {
  padding: 0.5rem;
  background-color: rgb(141, 228, 206);
  z-index: 1;
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0;
  flex-direction: column;
  align-items: center;
}
.footer__links a {
  margin: 0.7rem;
}

h6 {
  border: 1p solid 1px;
  text-align: center;
}
