body {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    margin: 0;
    padding: 0;
    background-color: rgba(52, 129, 171, 0.309) !important;
}
img {
    height: 75px;
    width: 75px;
    margin: 12px;
}
.projectPic {
    height: 215px;
    width: 198px;
}
.card {
    background-color: rgb(137, 211, 242) !important;
    border-radius: 30px !important;
}
img {
    border-radius: 20px;
}
.about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}